@import 'FontVariables';
@import 'Global';

.container {
    padding: 2rem;
    .expense-item {
        @include flex(row-reverse, space-between, center, center);
        padding: 0.5rem 2rem;
        font-size: 2rem;
        background: #0982ff;
        color: #fff;
        margin: 2rem 2rem;
        width: 67vw;
        .expense-item__description {
            padding: 1rem 2rem;
            @include flex(row-reverse, space-between, center, center);
            h3 {
                padding: 1rem 2rem;
            }
        }
        .expense-item__price {
            padding: 1rem 2rem;
            text-shadow: $text-shadow1;
            border: 3px solid #fff;
            border-radius: 10px;
            background: rgb(13, 36, 165);
        }
    }
}

@media (min-width: 100px) and (max-width: 1234px) {
    .container {
        .expense-item {
            @include flex(column, center, center, center);
            flex-wrap: wrap;
            .expense-item__description {
                @include flex(column, space-between, center, center);
            }
        }
    }
}
